<div class="modal fade" id="modalResetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Reset password</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form id="formResetPassword" action="/personal/resetPassword" method="post">
            <div class="form-group">
              <label for="currentPassword" style="float: left;">Current password</label>
              <input type="password" class="form-control" name="currentPassword" id="currentPassword">
            </div>
            <div class="form-group">
              <label for="newPassword" style="float: left;">New password</label>
              <input type="password" class="form-control" name="newPassword" id="newPassword">
            </div>
            <div class="form-group">
              <label for="confirmNewPassword" style="float: left;">Confirm</label>
              <input type="password" class="form-control" id="confirmNewPassword">
            </div>
            <span id="resetStatus" style="display: none;">
              <h6 style="color: red;font-family: inherit;">
                new password mismatched
              </h6>
            </span>
            <a type="button" class="btn btn-sm btn-info btn-block btn-round" id="btnSubmitFormResetPassword">Reset</a>
          </form>

          <div class="text-center text-muted delimiter">or reset via gmail</div>
          <div class="d-flex justify-content-center social-buttons">
            <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal" data-toggle="modal" data-target="#modalForgetPassword" data-placement="top" title="google">
              <i class="fab fa-google"></i>
            </button>
            </di>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const newPassword = document.getElementById('newPassword');
  const confirmNewPassword = document.getElementById('confirmNewPassword');
  document.getElementById("btnSubmitFormResetPassword")
    .addEventListener('click', (e) => {
      if (newPassword.value !== confirmNewPassword.value) {
        document.getElementById("resetStatus").setAttribute("style", "display: inline")
      } else {
        document.getElementById('formResetPassword').submit();
      }
    })
</script>

<style>
  .container {
    padding: 2rem 0rem;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 400px;

      .modal-content {
        padding: 1rem;
      }
    }
  }

  .modal-header {
    .close {
      margin-top: -1.5rem;
    }
  }

  .form-title {
    margin: -2rem 0rem 2rem;
  }

  .btn-round {
    border-radius: 3rem;
  }

  .delimiter {
    padding: 1rem;
  }

  .social-buttons {
    .btn {
      margin: 0 0.5rem 1rem;
    }
  }

  .signup-section {
    padding: 0.3rem 0rem;
  }
</style>