<div class="modal fade" id="modalForgetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Forget password</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form id="formForgetPassword" action="/personal/forgetPassword" method="post">
            <div class="form-group">
              <label for="username_forgetPassword" style="float: left;">Username</label>
              <input class="form-control" name="username_forgetPassword" id="username_forgetPassword">
            </div>
            <div class="form-group">
              <label for="email_forgetPassword" style="float: left;">Email</label>
              <input type="email" class="form-control" name="email_forgetPassword" id="email_forgetPassword">
            </div>
            <a type="submit" form="formForgetPassword" class="btn btn-sm btn-info btn-block btn-round" id="btnSubmitFormForgetPassword">Send reset password request</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('btnSubmitFormForgetPassword').addEventListener('click', (e) => {
    document.getElementById('formForgetPassword').submit();
  })
</script>

<style>
  .container {
    padding: 2rem 0rem;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 400px;

      .modal-content {
        padding: 1rem;
      }
    }
  }

  .modal-header {
    .close {
      margin-top: -1.5rem;
    }
  }

  .form-title {
    margin: -2rem 0rem 2rem;
  }

  .btn-round {
    border-radius: 3rem;
  }

  .delimiter {
    padding: 1rem;
  }

  .social-buttons {
    .btn {
      margin: 0 0.5rem 1rem;
    }
  }

  .signup-section {
    padding: 0.3rem 0rem;
  }
</style>