<!DOCTYPE html>
<html lang="en">

<head>
  <%- include(global.__path_elements + 'head') %>
</head>

<body>
  <div class="container" id="wrapper">
    <%- include(global.__path_elements + 'navbar') %>
    <div id="page-wrapper">
      <%- include(body) %>
    </div>
  </div>
  <%- include(global.__path_elements + 'scripts') %>
</body>

<script>
  const btnLogout = document.getElementById('logout');
  btnLogout.addEventListener('click', () => {
    localStorage.clear();
    document.cookie = 'auth-token=expires';
    location.replace('/');
  })

  const usernameSpan = document.getElementById('username');
  if(!usernameSpan.innerText){
    const username = localStorage.getItem('username');
    usernameSpan.innerText = username;
  }

  const avatar = document.getElementById('avatar');
  avatar.setAttribute('src', localStorage.getItem('avatarUrl'));
</script>
</html>