<input hidden value="<%=accessToken%>" id="token">
<input hidden value="<%=chatId%>" id="chatId">

<script src="https://cdn.jsdelivr.net/npm/@weavy/dropin-js@17.1.0/dist/weavy.js" crossorigin="anonymous"></script>
<script>
  Weavy.url = "https://f1746aae94594612865d8f61eb9291e7.weavy.io";
  Weavy.tokenFactory = async (refresh) => document.getElementById("token").value;
  Weavy.tz = 'Asia/Ho_Chi_Minh';
</script>
<div id="chat-container">
  <iframe id="chat" src="https://f1746aae94594612865d8f61eb9291e7.weavy.io/dropin/messenger" frameborder="0">
  </iframe>
</div>


<script>
  let pageWrapper = document.getElementById('page-wrapper');
  const chatFrame = document.getElementById('chat');
  const chatId = document.getElementById('chatId').value;
  if (chatId) {
    chatFrame.setAttribute('src', `https://f1746aae94594612865d8f61eb9291e7.weavy.io/dropin/messenger/${chatId}`);
  }


  var messenger = new Messenger();
  messenger.on('badge', (badge) => {
    console.log(badge.count);
  })

  const height = document.querySelector('#page-wrapper').clientHeight;
  console.log(height);
</script>

<style>

  html, body {
    overflow: hidden;
    height: 100vh;
  }
  #page-wrapper {
    padding: 0 0 0 0px;
    height: inherit;
  }

  #chat {
    width: 100%;
    height: 95vh;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
  }

  #chat-container {
    width: 100%;
    height: 100vh;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
  }
</style>
