<%- include(`${global.__path_elements}modalResetPassword`) %>
<%- include(`${global.__path_elements}modalForgetPassword`) %>
<div class="container" style="padding-top: 10px;">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <a type="button" class="btn btn-secondary" style="border-radius: 100px;">
                  <img id="avatar_image">
                </a>

                <form method="post" action="/personal" enctype="multipart/form-data" id="editInfoForm">
                  <input name="phoneNumber" id="phoneNumberEdit" hidden>
                  <input style="display: none;" type="file" name="avatar" accept="image/png" id="avatarInput" />
                </form>


              </div>
              <h4 class="user-name" id="usernameEdit"></h4>
              <h5 class="user-email" id="email"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Personal Details</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="firstname">First name</label>
                <input class="form-control" id="firstname" readonly>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="lastname">Last name</label>
                <input class="form-control" id="lastname" readonly>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" form="editInfoForm">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="gender">Gender</label>
                <input class="form-control" id="gender" readonly>
              </div>
            </div>
          </div>

          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-left">
                <a type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modalResetPassword">Change your password</a>
              </div>
            </div>
          </div>

          <br><br>

          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <a type="button" class="btn btn-sm btn-secondary">Cancel</a>
                <a type="button" class="btn btn-sm btn-primary" id="btnUpdate">Update</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // get data update
  if ('<%=newPhoneNumber%>') {
    localStorage.setItem('phoneNumber', '<%=newPhoneNumber%>');
  }


  let avatar_image = document.getElementById('avatar_image');

  // get personal information
  avatar_image.setAttribute('src', localStorage.getItem('avatarUrl'));
  document.getElementById('usernameEdit').innerText = localStorage.getItem('username');
  document.getElementById('email').innerText = localStorage.getItem('email');
  document.getElementById('firstname').value = localStorage.getItem('firstname');
  document.getElementById('lastname').value = localStorage.getItem('lastname');
  document.getElementById('phoneNumber').setAttribute('value', localStorage.getItem('phoneNumber'));
  document.getElementById('gender').value = localStorage.getItem('gender');

  // change avatar
  const avatarInput = document.getElementById('avatarInput');
  avatar_image.addEventListener('click', () => {
    avatarInput.click();
  })

  // read input image and load to temp 
  // var openFile = (file) => {
  //   var input = file.target;
  //   var reader = new FileReader();
  //   reader.onload = () => {
  //     var dataURL = reader.result;
  //     avatar_image.src = dataURL;
  //   };
  //   reader.readAsDataURL(input.files[0]);
  // }

  // avatarInput.addEventListener('change', (e) => {
  //   if (avatarInput.files.length) {
  //     openFile(e);
  //   }
  // })

  document.getElementById('btnUpdate').addEventListener('click', () => {
    document.getElementById('phoneNumberEdit').value = document.getElementById('phoneNumber').value;
    document.getElementById('editInfoForm').submit();
  })
</script>
<style>
  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  .account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
  }

  .account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
  }

  .account-settings .user-profile .user-avatar img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }

  .account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
  }

  .account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: medium;
    font-weight: 400;
    color: #9fa8b9;
  }

  .account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
  }

  .account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
  }

  .account-settings .about p {
    font-size: medium
  }

  .form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: medium;
    background: #ffffff;
    color: #2e323c;
  }

  .card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;

    small {
      display: block;
      font-size: 15px;
      padding-top: 8px;
      color: gray;
    }
  }

  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;

    .avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 10px;

      input {
        display: none;

        +label {
          display: inline-block;
          width: 34px;
          height: 34px;
          margin-bottom: 0;
          border-radius: 100%;
          background: #FFFFFF;
          border: 1px solid transparent;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          cursor: pointer;
          font-weight: normal;
          transition: all .2s ease-in-out;

          &:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
          }

          &:after {
            content: "\f040";
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
          }
        }
      }
    }

    .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      border-radius: 100%;
      border: 6px solid #F8F8F8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

      >div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    body {
      background: whitesmoke;
      font-family: 'Open Sans', sans-serif;
    }

    .container {
      max-width: 960px;
      margin: 30px auto;
      padding: 20px;
    }
  }
</style>